<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheckApp">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="dishes"
             ng-style="{'border-color':checkResultColor}">
         </div>
         <p class="text-warning">NOT consider an empty item as an item towards to the count</p>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkNumber();">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style="{'color':checkResultColor}" ng-bind="checkResult">
         </div>
   </div>

</body>
</html>
